
html {
    scroll-behavior: smooth;
  }
:root {
  --color-fuente: rgb(0, 0, 0);
  --color-fondo: rgb(216, 216, 216);
  --color-cuadro: rgb(255, 255, 255);
    }

 /* [tema="light"]{
  --color-fuente: rgb(0, 0, 0);
  --color-fondo: rgb(216, 216, 216);
  --color-cuadro: rgb(255, 255, 255);
  } */
  
  body {
  font-family: 'Golos Text', sans-serif;
  color: var(--color-fuente);
  background-color:var(--color-fondo);
}
  #total {
    width: 95%;
    margin: auto;
    padding: 0%;
  }

/* Columnas responsive*/
*, ::before, ::after {
    box-sizing: border-box;
}
  .menu {
    width: 95%;
    background-color: var(--color-cuadro);
    border-radius:20px 20px 20px 20px;
    box-shadow: 2px 2px 5px #999;

  }
  .izquierda {
    width: 27%;
    float: left;
    padding: 5%;
    margin: 1%;
    background-color: var(--color-cuadro);
    border-radius:20px 20px 20px 20px;
    box-shadow: 2px 2px 5px #999;
    
  }
  .derecha {
    width: 69%;
    float: right;
    padding: 5%;
    margin: 1%;
    background-color: var(--color-cuadro);
    border-radius:20px 20px 20px 20px;
    box-shadow: 2px 2px 5px #999;
  }
/* Fondo barra navegacion */
.topnav {
    overflow: hidden;
    border-radius:20px 20px 20px 20px;
  }
  /* Texto barra navegacion */
  .topnav a {
    float: left;
    color:inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Color al apoyar mouse */
  .topnav a:hover {
    background-color: var(--color-fuente);
    color: var(--color-cuadro);
  }

  /* Sacar estilo a lista*/ 
  .Idioma {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* FOTO */
.foto {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid var(--color-fuente);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    align-items: center;
    display:block;
    margin:auto;
}
.foto img {
    width: auto;
    height: 130%;
    margin-top: -50px;    
    
}

/* TEXTOS IZQUIERDA*/
#Sheila {
    text-align: center;
    font-size: 30px;
}
#Ocupacion {
    text-align: center;
    font-weight: 100;
    font-size: 20px;
}
.Local {
    text-align: center;
    font-size: 15px;
}
.link {
    text-decoration: none;
    color: var(--color-fuente);
    font-style: oblique;
}
.Contacto {
    font-size: 20px;
    line-height: 1em;
    margin-top: 15%;
    margin-bottom: 5%;
    font-weight: 600;
}
.Idioma {
   margin-top: 0%;
}
/*DERECHA*/
.Titulo {
    font-size: 25px;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 0%;
    text-decoration: underline #8cb9dd;
}
.Subtitulo {
    font-size: 20px;
    font-weight: 400;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #4389c2;
}
.escuela {
    font-style: oblique;
}
.fecha {
    color: #808080;
    font-size: 15px;
}
li {
	list-style: none;
}
li::before  {
    content: "►";
	color: #4389c2;
	display: inline-block;
	width: 1em;
	margin-left: 0em
}
.Educacion {
    margin-top: 5%;
    margin-bottom: 5%;

}
.Negrita {
    font-weight: 600;
}
.Experiencia {
    margin-top: 5%;
    margin-bottom: 5%;
}
.Puesto {
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 600;
}
.trabajo {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* SKILLS */
    * {box-sizing:border-box}

    /* Container de barras*/
    .container {
    width: 100%; 
    background-color: #ddd; 
    }

    .skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
    }

    .html {width: 90%; background-color: #3f6788;} 
    .css {width: 75%; background-color: #4389c2;} 
    .js {width: 70%; background-color: #75aedd;} 
    .wordpress {width: 50%; background-color: #245883;} 
    .photoshop {width: 90%; background-color: #396d9b;} 

    /* FORMULARIO */
    input, textarea {
    font-family:inherit;
    font-size: 15px;
    }
    form {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    input[type=text] {
        padding:10px;
        border:0;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
        border-radius:10px;
        width:100%;
        margin: 2%;
        
    }
    input[type=email] {
        padding:10px;
        border:0;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
        border-radius:10px;
        width:100%;
        margin: 2%;
    }

    input[type=number] {
        padding:10px;
        border:0;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
        border-radius:10px;
        width:100%;
        margin: 2%;
    }
    .Mensaje {
        width:100%;
        padding:15px;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.1);
        height:150px;
        margin: 2%;
        overflow: horizontal;
        resize: vertical;
    }
    #Enviar {

        /* remove default behavior */
        appearance:none;
        -webkit-appearance:none;
      
        /* usual styles */
        padding:10px;
        border:none;
        background-color:#4389c2;
        color:#fff;
        font-weight:600;
        border-radius:5px;
        width:100%;
        cursor: pointer;
      
      }
      input:hover {
        border: 1px solid rgb(143, 143, 143);
      }
      #myBtn {
        display: none;  
        position: fixed; /* sticky */
        bottom: 20px; 
        right: 20px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color: #4389c2; 
        color: white; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 15px; 
      }
      
      #myBtn:hover {
        background-color: rgb(0, 0, 0); 
      }
      
    /* MODO OSCURO */
    /*Botón de cambio de tema*/
    /* The switch - the box around the slider */
    #switch {
      position: absolute;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-top: 0.6%;
      align-items: right;
      margin-left: 46%;
    }

    /* Hide default HTML checkbox */
    #switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #4389c2;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #4389c2;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }


    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
     /* Cambio color */
      [tema="dark"]{
        --color-fuente: #ffffff;
        --color-fondo: #1b1b1b;
        --color-cuadro: rgb(0, 0, 0);
    }
